table {
    width: 100%;
    border-collapse: collapse;
}
table th, table td {
    padding: 10px;
    text-align: left;
    border-bottom: 2px solid #4db5e3;
}
table th {
    background-color: #76e28f;
    color: black;
    font-weight: bold;
}
table tr:nth-child(even) {
    background-color: #e5ffda;
}
table td a {
    text-decoration: none;
    color: #0000EE;
    font-weight: bold;
    cursor: pointer;
}
/*table td a.delete {
    color: red;
}*/

.actions button {
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    border: none; /* Asegúrate de que no haya borde */
    font-weight: bold; /* Opcional, para resaltar el texto */
}
.view-btn {
    background-color: #4CAF50; /* Verde */
    color: white;
    border: none; /* Sin borde */
    padding: 10px 20px; /* Espaciado interno */
    text-align: center; /* Centrar el texto */
    text-decoration: none; /* Sin subrayado */
    display: inline-block; /* Mostrar en línea */
    font-size: 14px; /* Tamaño del texto */
    margin: 5px 2px; /* Espacio alrededor del botón */
    cursor: pointer; /* Cambiar el cursor a mano cuando se pase sobre el botón */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s ease; /* Transición suave al cambiar el color de fondo */
}
.delete-btn {
    background-color: #f44336; /* Rojo */
    color: white;
    border: none; /* Sin borde */
    padding: 10px 20px; /* Espaciado interno */
    text-align: center; /* Centrar el texto */
    text-decoration: none; /* Sin subrayado */
    display: inline-block; /* Mostrar en línea */
    font-size: 14px; /* Tamaño del texto */
    margin: 5px 2px; /* Espacio alrededor del botón */
    cursor: pointer; /* Cambiar el cursor a mano cuando se pase sobre el botón */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s ease; /* Transición suave al cambiar el color de fondo */
}
/* Estilo base para el botón de Actualizar */
.update-btn {
    background-color: #4caf93; /* Color de fondo verde */
    color: white; /* Texto blanco */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Espaciado interno */
    text-align: center; /* Centrar el texto */
    text-decoration: none; /* Sin subrayado */
    display: inline-block; /* Mostrar en línea */
    font-size: 14px; /* Tamaño del texto */
    margin: 5px 2px; /* Espacio alrededor del botón */
    cursor: pointer; /* Cambiar el cursor a mano cuando se pase sobre el botón */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s ease; /* Transición suave al cambiar el color de fondo */
}

/* Efecto al pasar el cursor sobre el botón */
.update-btn:hover {
    background-color: #45a080; /* Cambiar el color de fondo al pasar el cursor */
}

/* Agrega un hover para mejorar la experiencia del usuario */
.actions button:hover {
    opacity: 0.8; /* Efecto de opacidad al pasar el cursor */
}

.material-symbols-outlined {
    vertical-align: middle; /* Alinea el icono verticalmente */
    font-size: 20px; /* Cambia el tamaño del icono según sea necesario */
}

tbody {
    display: block;
    max-height: 600px; /* Ajusta el valor según sea necesario */
    overflow-y: auto;
}

thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

/* Estilos para la paginación de la tabla */
.dataTables_wrapper {
    margin-top: 20px;
}

.dataTables_paginate {
    text-align: center;
}

.dataTables_paginate .paginate_button {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 5px;
    background-color: #4db5e3;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.dataTables_paginate .paginate_button:hover {
    background-color: #3689b8;
}

.dataTables_paginate .paginate_button.current {
    background-color: #1e88e5;
}

/* Estilos para la información de la tabla */
.dataTables_info {
    margin-top: 10px;
    text-align: center;
    font-style: italic;
    color: #666;
}

/* Estilos para el buscador */
.dataTables_filter {
    margin-bottom: 10px;
}

.dataTables_filter input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
}